<p class="login-box-msg">Sign in to your account</p>

<%= form_with url: session_path do |form| %>
  <div class="input-group mb-3">
    <%= form.email_field :email_address, 
        required: true, 
        autofocus: true, 
        autocomplete: "username", 
        placeholder: "Email address", 
        value: params[:email_address], 
        class: "form-control" %>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-envelope"></span>
      </div>
    </div>
  </div>

  <div class="input-group mb-3">
    <%= form.password_field :password, 
        required: true, 
        autocomplete: "current-password", 
        placeholder: "Password", 
        maxlength: 72, 
        class: "form-control" %>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <%= link_to "Forgot password?", new_password_path %>
    </div>
    <div class="col-4">
      <%= form.submit "Sign in", class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>

<p class="mb-0">
  Don't have an account?
  <%= link_to "Sign up", new_registration_path, class: "text-center" %>
</p>