<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">
          <i class="fas fa-ticket-alt mr-2 <%= @ticket_type.persisted? ? 'text-warning' : 'text-primary' %>"></i>
          <%= @ticket_type.persisted? ? "Edit Ticket Type of" : "New Ticket Type of" %> <%= @event.title %>
        </h1>
      </div>
      <div class="col-sm-6 text-right">
        <%= link_to "Back", event_ticket_types_path(@event), class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card <%= @ticket_type.persisted? ? 'card-warning' : 'card-primary' %> card-outline shadow-sm">
        <div class="card-body">
          <%= form_with(model: [@event, @ticket_type], local: true, class: "form-horizontal") do |form| %>
            <% if @ticket_type.errors.any? %>
              <div class="alert alert-danger">
                <h4><i class="icon fas fa-exclamation-triangle"></i>
                  <%= pluralize(@ticket_type.errors.count, "error") %> prohibited this ticket type from being saved:
                </h4>
                <ul>
                  <% @ticket_type.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group row">
              <%= form.label :name, class: "col-sm-3 col-form-label font-weight-bold" %>
              <div class="col-sm-9">
                <%= form.text_field :name, class: "form-control", placeholder: "Enter ticket type name" %>
              </div>
            </div>

            <div class="form-group row">
              <%= form.label :price, class: "col-sm-3 col-form-label font-weight-bold" %>
              <div class="col-sm-9">
                <%= form.number_field :price, step: 0.01, class: "form-control", placeholder: "Enter price" %>
              </div>
            </div>

            <div class="form-group row">
              <%= form.label :available_tickets, class: "col-sm-3 col-form-label font-weight-bold" %>
              <div class="col-sm-9">
                <%= form.number_field :available_tickets, class: "form-control", placeholder: "Enter available tickets" %>
              </div>
            </div>

            <div class="form-group row mt-4">
              <div class="col-sm-9 offset-sm-3">
                <% if @ticket_type.persisted? %>
                  <%= form.submit "Update Ticket Type", class: "btn btn-warning" %>
                <% else %>
                  <%= form.submit "Create Ticket Type", class: "btn btn-primary" %>
                <% end %>
                <%= link_to "Cancel", event_ticket_types_path(@event), class: "btn btn-outline-secondary ml-2" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>