<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6 d-flex align-items-center">
        <i class="fas fa-user mr-2 text-primary"></i>
        <h1 class="m-0 text-dark">Users Management</h1>
      </div>
      <div class="col-sm-6 text-right">
        <%= link_to new_user_path, class: "btn btn-primary" do %>
          <i class="fas fa-plus mr-1"></i>
          New User
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card card-primary card-outline">
    <div class="card-header">
      <%= form_with url: users_path, method: :get, data: { turbo_frame: "users", controller: "search" }, class: "form-inline" do %>
        <div class="input-group input-group-sm" style="width: 300px;">
          <%= text_field_tag :q, params[:q], placeholder: "Search by ID or Name...", class: "form-control", data: { action: "input->search#search", search_target: "input" } %>
          <div class="input-group-append">
            <%= submit_tag "Search", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="card-body p-0">
      <turbo-frame id="users">
        <%= render partial: "users_table", locals: { users: @users } %>
      </turbo-frame>
    </div>
  </div>
</div>