<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">
          <i class="fas fa-user mr-2 text-primary"></i>
          User Details
        </h1>
      </div>
      <div class="col-sm-6 text-right">
        <%= link_to edit_user_path(@user), class: "btn btn-warning mr-2" do %>
          <i class="fas fa-edit"></i> Edit
        <% end %>
        <%= link_to users_path, class: "btn btn-secondary" do %>
          <i class="fas fa-arrow-left"></i> Back
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card card-primary card-outline shadow-sm">
        <div class="card-body">
          <table class="table table-bordered mb-0">
            <tbody>
              <tr>
                <th style="width: 200px;" class="bg-light"><i class="fas fa-user mr-1 text-info"></i> Name</th>
                <td><%= @user.name %></td>
              </tr>
              <tr>
                <th class="bg-light"><i class="fas fa-envelope mr-1 text-info"></i> Email Address</th>
                <td><%= @user.email_address %></td>
              </tr>
              <tr>
                <th class="bg-light"><i class="fas fa-money-bill-wave mr-1 text-success"></i> Credit</th>
                <td><%= number_to_currency(@user.credit) %></td>
              </tr>
              <tr>
                <th class="bg-light"><i class="fas fa-user-tag mr-1 text-info"></i> Role</th>
                <td>
                  <span class="badge <%= @user.role == 'admin' ? 'badge-danger' : 'badge-primary' %>">
                    <%= @user.role.capitalize %>
                  </span>
                </td>
              </tr>
              <tr>
                <th class="bg-light"><i class="fas fa-phone mr-1 text-info"></i> Phone Number</th>
                <td><%= @user.phone_number %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>